<strong>Olá {{organizerName}}</strong>
<p>Houve uma nova inscrição na Meetup {{meetupTitle}}</p>
<p>
  <strong>Nome: </strong> {{subscriberName}} <br />
  <strong>Email: </strong> {{subscriberEmail}} <br />
</p>
